<div class="login-container">
    <div class="login-box">
        <h2>Registrar Cuenta</h2>
        <form action="#" method="POST">
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Correo electrónico" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Contraseña" required>
            </div>
            <div class="input-group">
                <input type="password" id="password" name="password" placeholder="Repetir Contraseña" required>
            </div>
            <div class="submit-group">
                <button type="submit">Entrar</button>
            </div>
        </form>
        <div class="signup-text">
            <p>¿Ya tienes una cuenta? <a routerLink="/login" routerLinkActive="active"
                ariaCurrentWhenActive="page">Haz clic aquí para iniciar sesión</a></p>
        </div>
    </div>
</div>